body {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 12px;
}
.myform1 input.ng-invalid {
	background-color: salmon;
}
.div-one input, .div-two input, .div-three input, .div-five input, .div-eight input {
	height: 20px;
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
	border-color: #a5a5a5;
}
.div-one input {
	width: 110px;
}
.div-two input {
	width: 210px;
}
.div-three input {
	width: 150px;
}
.div-five input {
	width: 110px;
}
.div-nine table {
	border-style: solid;
	border-width: 1px;
	width: 100%;
}