<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>s1</title>
	<link rel="stylesheet" type="text/css" href="s1.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="s1.js" type="text/javascript"></script>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<div class="div-one">
			<h2>1</h2>
			Name: <input ng-model="firstname">
				  <input ng-model="lastname">
			<h3>You entered: {{firstname + ' ' + lastname}}</h3>
			<p>Change the name in the input also change the header name.</p>
		</div>
		<div class="div-two">
			<h2>2</h2>
			<form name="myForm">
				Email:
				<input type="email" name="myAddress" ng-model="text">
				<span ng-show="myForm.myAddress.$error.email">Not a valid email address</span>
			</form>
			<p>Enter your e-mail address in the input field. AngularJS will display an errormessage if the address is not an e-mail.</p>
		</div>
		<div class="div-three">
			<h2>3</h2>
			<form name="myForm1" class="myform1">
				Enter your name:
				<input type="" name="myName" ng-model="myText" required>
			</form>
			<p>Edit the text field and it will get/lose classes according to the status.</p>
			<p><b>Note:</b> A text field with the "required" attribute is not valid when it is empty.</p>
		</div>
		<div class="div-four">
			<h2>4</h2>
			<h2 ng-click="changeName()">{{name_4}}</h2>
			<p>Click on the header to run the "changeName" function.</p>
			<p>This example demonstrates how to use the controller to change model data.</p>
		</div>
		<div class="div-five">
			<h2>5</h2>
			First Name: <input type="text" ng-model="firstname5"><br>
			Last Name: <input type="text" ng-model="lastname5"><br>
			<h3>Full Name: {{fullName()}}</h3>
		</div>
		<div>
			<h2>6</h2>
			<ul>
				<li ng-repeat="x in name_6 | orderBy:'country'">
					{{x.name + ', ' + x.country | uppercase}}
				</li>
			</ul>
		</div>
		<div>
			<h2>7</h2>
			<ul>
				<li ng-repeat="x in name_7 | filter:'i'">
					{{ x }}
				</li>
			</ul>
			<p>This example displays only the names containing the letter "i".</p>
		</div>
		<div class="div-eight">
			<h2>8</h2>
			<p>Type a letter in the input field:</p>
			<p><input type="text" ng-model="test_8"></p>
			<ul>
				<li ng-repeat="x in name_8 | filter:test_8">
					{{ x }}
				</li>
			</ul>
		</div>
		<div>
			<h2>9</h2>
			<p>Click the table headers to change the sorting order:</p>
			<table>
				<tr>
					<th ng-click="orderByMe('name')">Name</th>
					<th ng-click="orderByMe('country')">Country</th>
				</tr>
				<tr ng-repeat="x in name_9 | orderBy:myOrderBy">
					<td>{{x.name}}</td>
					<td>{{x.country}}</td>
				</tr>
			</table>
		</div>
		<div>
			<h2>10</h2>
			<p>The URL of this page is:</p>
			<h3>{{myUrl}}</h3>
			<p>This example uses the built-in $location service to get the absolute url of the page.</p>
		</div>
		<div>
			<h2>11</h2>
			<ul>
				<li ng-repeat="x in myData">
					{{ x.Name + ', ' + x.Country }}
				</li>
			</ul>
			<p>Reading data from remote server.</p>
		</div>
		<div class="div-twelve">
			<h2>12</h2>
			<table>
				<tr ng-repeat="x in myData">
					<td>{{ $index + 1 }}</td>
					<td>{{ x.Name }}</td>
					<td>{{ x.Country }}</td>
				</tr>
			</table>
		</div>
		<div>
			<h2>13</h2>
			<p>The time is:</p>
			<h2>{{theTime}}</h2>
		</div>
	</div>
</body>
</html>